<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705916310047-3mnrffkk3o95eqdchc4cf52pg8ga8dv9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705916310047-3mnrffkk3o95eqdchc4cf52pg8ga8dv9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>705916310047-86afsu6r5n74iam8ba52imk4dth8l977.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCXxDulsQkylZlYI7a-q-pXRQesTqF-dYc</string>
	<key>GCM_SENDER_ID</key>
	<string>705916310047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.roastai</string>
	<key>PROJECT_ID</key>
	<string>roast-nutri-tracker-7c67ct</string>
	<key>STORAGE_BUCKET</key>
	<string>roast-nutri-tracker-7c67ct.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705916310047:ios:3b67e8a81af78a57277b2a</string>
</dict>
</plist>